/node_modules
# /public/hot
# /public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.env
til_app_real_2009_ip_server_start.bat
Start_til_app_real.bat
documentation/
AGENTS.md
